html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  overflow-x: hidden;
}

/* a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
} */

.bground{
  background: url(../public/images/landingPage/bg.png);
  background-repeat: no-repeat;
  border-radius: 5px;
}

.account{
  background: url(../public/images/landingPage/accountbg.png);
  background-repeat: no-repeat;
}

.started{
  background: url(../public/images/landingPage/getstarted.png);
  /* background-repeat: no-repeat; */
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
  
}

@media (max-width :600px) {

  
}
