.section{
    margin-top: 2rem;
    padding-left: 12.8rem;
    padding-top: 1rem;
    background: #FBFAFF;

    & .section__info{
        margin-bottom: 10px;
        background-color: #fff;
        & .section__info__title{
            margin-bottom: 3rem;
            // margin-left: 1rem;
        }
        & .section__info__profile{
            padding: 1rem 0.5rem 2rem 1rem;
            height: 100px;
            background: url('/images/landingPage/bg.png');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;

            & .section__info__profile__image{
                width: 100px;
                height: 100px;
                border-radius: 50%;
                border: 2px solid white;
                float: left;
                margin-right: 1rem;
                background-size: contain;
                margin-top: 2rem;
                background-color: white;
            }
        }

        & #profile{
            height: 30rem;
            border: 1px solid red;
        }

        & .section__info__text{
            border: 1px solid #5F27D3;
            // padding: 0.5rem;
            border-radius: 7px;
            margin-right: 10px;
            color: #5F27D3;
            :hover{
                background-color: #5F27D3;
                color: white;
                // padding: 0.5rem;
            }
        }
        & .skill{
            display: flex;
            flex-wrap: wrap;
            & .skills{
                // border: 1px solid #5F27D3;
                padding: 10px 15px;
                border-radius: 20px;
                margin-right: 10px;
                background-color: #F8F5FF;
                text-align: center;
            }
        }
        & .section__info__body{
            padding: 0rem 0 2rem 0;
            // box-shadow: 0px 0px 50px -5px rgba(0, 0, 0, 0.06);
            & .section__info__body__header{
                padding: 1rem 0.5rem 1rem 1rem;
            }
            & .per{
                margin-top: -10px;
            }
        }
        & .section__info__end{
            // padding: 0.5rem 0 2rem 0;
            // box-shadow: 0px 0px 50px -5px rgba(0, 0, 0, 0.06);
            // margin-bottom: 2rem;
            margin-left: 1rem;
            & .section__info__end__header{
                padding: 1rem 0.5rem 2rem 1rem;
            }
            & .section__info__end__venture{
                height: 150px;
                width: 100%;
                border-radius: 1rem;
            }
            & .section__info__end__venture__logo{
                position: relative;
                top: -11%;
                left: 40%;
                width: 5rem;
                height: 5rem;
                border-radius: 1rem;
            }
            & .venture__text{
                position: relative;
                top: -6%;
                text-align: center;
            }
            & .venture__text__p{
                position: relative;
                top: -3%;
                text-align: center;
                padding: 0 1rem 0 1rem;
            }
            & .icons{
                position: relative;
                top: -3%;
                display: flex;
                justify-content: space-between;
                padding: 0 1rem 0 1rem;
            }
        }
    }
    .clr{
        color: #5F27D3;
    }
    & .section__session{
        padding-bottom: 6rem;
        // margin-top: 5rem;
        & .section__session__header{
            padding: 10px 5px 5px 20px;
        }
        & .section__session__body{
            margin-bottom: 10px;
            padding: 1rem;
            & span {
                color: #5A27D5;
            }
        }
    }
    & .section__end{
        margin-top: 3rem;
        padding: 1rem;
        & .section__session__header{
            padding: 10px 5px 5px 20px;
        }
        & .section__session__body{
            margin-bottom: 10px;
            padding: 1rem;
            & span {
                color: #5A27D5;
            }

            & .btn {
                background: linear-gradient(90.73deg, #5A27D5 0%, #5F27D3 32.36%, #AE2EC4 100%);
                border-radius: 3px;
                width: 220px;
                margin-top: 2rem;
                float: right;
                & button {
                    color: white;
                }
            }
        }
    }
}

@media (max-width :800px) {

    .sidebars{
        display: block;
    }
    .sidebar{
        display: none;
    }
    .section{
        padding: 0;
    }
}